@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Mohave&family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Mohave&family=Rubik:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Mohave&family=Rubik:wght@300;500;600&display=swap');

.pokemon-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    width: 270px;
    padding: 20px;
    border: 1px solid white;
    border-radius: 3px;
}

h3 {
    font-family: 'Rubik', sans-serif, bold;
    font-size: 28px;
}

h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
}

li {
    height: 15px;
    width: 170px;
    font-family: 'Rubik', sans-serif;
    background-color: #eeede9;
    margin: 4px;
    padding: 4px 30px 8px;
    border: 1px solid #eeede9;
    border-radius: 4px;
    text-align: center;
}

.weight-moves {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.light {
    font-weight: 300;
}